@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
    <!--Title-->
}

<div class="row-fluid">  
    <div class="span10">
        <span class="date-heading">
            <!--Date-->    
        </span>
    </div>
</div>

<div class="row-fluid">
    <div class="span10">
        <span class="heading">
            <!--Title-->    
        </span>
    </div>   
</div>

<div class="row-fluid margin-top-40">
    <div class="span10">
        <p class="justify">
        <!--Content-->    
        </p>
    </div>    
</div>

<div class="row-fluid">
    <div class="span10">      
        <div class="pull-left">
            <a href="<!--PreviousBlogLink-->">
                <!--PreviousBlogTitle-->            
            </a>
        </div> 
        <div class="pull-right">
            <a href="<!--NextBlogLink-->">
                <!--NextBlogTitle-->            
            </a>
        </div> 
    </div>
</div>
