@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section title{
    Bleu - another way to blog, git based + No Database + Runs on AppHarbor
}

<div class="row-fluid margin-top-40">
    <div class="span12">
        <span class="heading">
            Bleu
        </span>
        <p class="justify margin-top-20">
            is a <span class="highlight">git</span>-powered, minimalist blog engine intended to run in <span class="highlight">AppHarbor</span>.
        </p>
        <p class="justify">
            The concept is copied from <span class="highlight">toto</span> blog engine which is written in <span class="highlight">ruby</span> and intended to run in <span class="highlight">heroku</span>.
            You could find and download <span class="highlight">toto</span> at <span class="highlight"><a href="http://cloudhead.io/toto" target="_blank">http://cloudhead.io/toto</a></span>.
        </p>
    </div>
</div>

<div class="row-fluid margin-top-40">
    <div class="span12">
        <span class="heading">
            Blog in 10 seconds
        </span>
        <p class="justify margin-top-20">
            <ul class="instruction">
                <li>git clone git@github.com:mdcuesta/bleu.git myblog</li>
                <li>cd myblog</li>
                <li>appharbor create myblog</li>
                <li>git push appharbor master</li>                
            </ul>
        </p>
    </div>
</div>

<div class="row-fluid margin-top-40">
    <div class="span12">
        <span class="heading">
            How it Works
        </span>
        <p class="justify margin-top-20">
            <ul class="instruction">            
            </ul>
        </p>
    </div>
</div>