@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    Bleu Blog Engine
}
<div class="row-fluid">
    <div class="span12">
        <span class="heading margin-bottom-30">
            Bleu Blog Engine 
        </span>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        
        
        <hr />
        <p class="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante diam, semper id viverra vitae, porta consectetur neque. Fusce vestibulum pellentesque luctus. Curabitur arcu turpis, volutpat a feugiat sit amet, faucibus sit amet purus. Fusce at erat mauris, in pretium turpis. Aenean facilisis tincidunt aliquam. Nunc quam erat, rutrum id adipiscing quis, aliquam ut sem. Curabitur vel nisi mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas pellentesque volutpat elit, ut suscipit velit pulvinar ullamcorper. Maecenas laoreet vestibulum purus, malesuada congue sem porta vitae. Maecenas condimentum ullamcorper venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis nulla quis sem commodo ut adipiscing turpis egestas.

            In dictum nulla mattis ante facilisis a fermentum ipsum pharetra. Integer pretium luctus leo at pellentesque. Praesent consectetur pretium risus vitae porttitor. Ut euismod malesuada laoreet. In eget augue nunc. Aliquam vitae dapibus magna. Duis lacinia iaculis lorem, quis dignissim nisi dignissim eu. Proin posuere, nulla sed vulputate convallis, sapien metus aliquet orci, vitae ultricies massa ligula in libero. Etiam a vestibulum libero. Sed nec interdum velit. Aenean in nisi et velit ullamcorper convallis. Morbi varius adipiscing felis vel placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            
            Fusce accumsan interdum quam, in rhoncus quam rutrum eleifend. In faucibus sem ante, vel suscipit metus. Sed ac justo eros. Vivamus ac magna nec ligula bibendum tempor. Fusce venenatis accumsan nulla, id viverra odio consectetur ut. Mauris non erat massa. Mauris a urna arcu, eget vulputate dolor. Nulla facilisi.

Cras ac dolor sit amet eros mattis eleifend. Integer consectetur, diam porta scelerisque rhoncus, augue nisl posuere ipsum, eu rutrum felis dolor vitae lorem. Fusce bibendum eleifend odio vel ultrices. Curabitur est lorem, interdum vel pulvinar ut, pretium et magna. Pellentesque egestas consectetur tortor, sit amet laoreet nulla condimentum in. Vestibulum commodo diam non orci sodales vel euismod erat pretium. Praesent placerat eros sit amet nulla semper a volutpat lorem eleifend. Phasellus eget nunc quis ligula convallis auctor at non mi. Cras metus quam, consequat ut consectetur non, vulputate sed eros. Aliquam eu mauris vel nunc sagittis imperdiet.

Praesent convallis velit vitae metus vulputate in vestibulum erat accumsan. Mauris molestie dui leo. Nam posuere, leo nec dignissim pharetra, quam tellus lacinia purus, lobortis feugiat massa libero nec ante. Morbi dignissim interdum orci, nec imperdiet ligula pulvinar eget. Integer non ligula tortor. Phasellus gravida convallis nulla sed iaculis. Aliquam erat volutpat. Vestibulum ultricies adipiscing diam. Curabitur rhoncus nisl ut enim congue gravida gravida felis vulputate. Praesent vulputate tincidunt dui at congue.

        </p>
    </div>
    <div class="span3">
    </div>    
</div>
