@font-face {
  font-family: "TinBird";
  src: url("../font/TinBird.ttf") format("truetype");
  }
@font-face {
  font-family: "TinBird-Italic";
  src: url("../font/TinBirdIt.ttf") format("truetype");
  }

@font-face {
  font-family: "Atype";
  src: url("../font/AtypeNormal.ttf") format("truetype");
  }

@font-face {
  font-family: "Atype-Light";
  src: url("../font/AtypeLight.ttf") format("truetype");
  }

@font-face {
  font-family: "SpringSteel";
  src: url("../font/springsteel-lig.otf") format("opentype");
  }
  
body 
{
    font-family: SpringSteel;
    font-size: 40px;
}
p 
{
    font-family: SpringSteel;
    font-size: 16px;
    line-height: 30px;
}





/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

    body {
        
    }

}