body 
{
    font-family: SpringSteel;
    font-size: 18pt;
    background: #FCFBE7;
}
p 
{    
    font-family: SpringSteel;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.heading
{
    font-family: SpringSteel;
    font-size: 40px;
    font-weight: bold;
}

#footer
{
    height: 350px;
    background: #262323;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

    body {
        
    }

}