@font-face {
  font-family: "TinBird";
  src: url("../font/TinBird.ttf") format("truetype");
  }
@font-face {
  font-family: "TinBird-Italic";
  src: url("../font/TinBirdIt.ttf") format("truetype");
  }

@font-face {
  font-family: "Atype";
  src: url("../font/AtypeNormal.ttf") format("truetype");
  }

@font-face {
  font-family: "Atype-Light";
  src: url("../font/AtypeLight.ttf") format("truetype");
  }

@font-face {
  font-family: "SpringSteel";
  src: url("../font/springsteel-lig.otf") format("opentype");
  }
  
/* Text Align */
.justify
{
    text-align: justify;
}
.align-center
{
    text-align: center;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
/* End */

/* Text Decoration */
.underline
{
    text-decoration: underline;
}
.overline
{
    text-decoration: overline;
}
.line-through
{
    text-decoration: line-through;    
}
.blink
{
    text-decoration: blink;
}
/* End */

/* Font Weight */
.bold
{
    font-weight: bold;
}
.bolder
{
    font-weight: bolder;
}
.lighter
{
    font-weight: lighter;
}
.normal
{
    font-weight: normal;
}
/* End */